span {
    margin-bottom: 5px;

    display: block;
}

label {
    margin-bottom: 0px;
}

.card1 {
    position: absolute;
    width: 400px;
    height: 600px;
    transition: 0.3s ease-out;
    box-shadow: 0 3px 15px rgba(0,0,0,0.7);
    max-width: auto;
    min-width: 300px;
}

.card-all { 
    display: flex;
 }