* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {

    background-size: cover;
    background-position: center;
}

.menubar {
    background-image: url(../photo/FloodedKabul.jpg);
    height: 100vh;
    top: 0;
    width: 100%;
    background-size: cover;
    position: relative;
}

.contentbox {
    width: 80%;
    height: auto;
    background-color: #FFF5F5;
    opacity: 0.9;
    position: absolute;
    top: 88%;
    left: 10%;
    box-shadow: 4px 6px #c6c6c6;

}

a {
    text-decoration: none;
}
.banner { 
    position: relative;
    width:960px; 
    margin:0 auto;
    text-align:left;
    top: 120px;
    padding:0;
   font-weight:bold;
   font-size:70px;
   text-shadow: 0 1px 0 #fff;
   padding: .5em 0 ;
}
.bannersec{
    position: relative;
    width:100%;
    height: 485px; 
    margin:0 auto;
    text-align:center;
   font-weight:bold;
   font-size:70px;
   text-shadow: 0 1px 0 #fff;
   padding: .5em 0 ;
   background-image: url(../photo/banner-back.jpg);
}

.banner small {
display:block; 
font-family:sans-serif; font-size:40%;
margin: .125ex 0 0  0 ; 
}

.titlesec{
    position: relative;
    top: 25%;
    color: #B8B683;
    font-weight: bold;
    margin-top: auto;
    width: 100%;
    height: auto;
    display: inline-block;
}

.menubarItems {
    font-size: 14px;
    font-weight: bold;
    color: #454A34;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo {
    top: 0;
    float: left;
    padding: 0px 20px;
}

.nav {
    top: 0;
    float: right;
}

.menubar ul {
    display: inline-flex;
    list-style: none;
}

.menubar ul li {
    margin: 0 5px;
    margin-top: 15px;
}

.menubarItems:hover {
    color: rgb(190, 109, 3);
    text-decoration: underline;
}

.titleText {
    position: relative;
    left: 10%;
    color: #FFF1F1;
    font-weight: bold;
    margin-top: auto;
    width: 100%;
    height: auto;
    display: inline-block;
}

h1 {
    font-size: 82px;
    font-weight: bold;
    text-align: left;
    margin: 5px;
    transition: all 0.3s ease;
}

h2 {
    font-size: 54px;
    font-weight: bold;
    text-align: left;
    margin: 5px;
    transition: all 0.3s ease;
}

.button {
    background-color: #FFF1F1;
    border: 2 px solid black;
    border-radius: 10px;
    border-color: #A7A44E;
    color: #454A34;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    box-shadow: 2px 3px #000000;
}

.button:hover {
    background-color: #454A34;
    color: #EDEDED;
    border: 0px;
}

#navbar {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.4s;
    z-index: 1020;
    top: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar.show {
    opacity: 1;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    box-shadow: 0px 3px #c6c6c6;
}

.contentwrapper {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    margin-top: 120px;
    flex-wrap: wrap;
    height: fit-content;
    background-color: #EDEDED;
    top: 80px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.introtitle {
    font-size: 26px;
    font-weight: bold;
    color: #454A34;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 30px;
    margin: 10px;
}

.introtext {
    font-size: 16px;
    color: #454A34;
    text-align: center;
    padding: 5px 10px;
}

.servicecontent {
    margin: 50px;
    position: relative;
    color: #454A34;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    text-align: center;
}

.servicetitle {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
    color: #454A34;
}

.servicetext {
    font-size: 16px;
    text-align: justify;
    padding: 5px 0px;
    float: left;
}

.picture-box {
    float: right;
    text-align: right;
}


.container {
    position: relative;
    top: 80px;
    margin-top: 50px;
    width: 100%;
}

.myslides {
    display: none;
}
.myslides2 {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(94, 94, 94, 0.8);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.responsive-cell-block {
    min-height: 75px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
}

.outer-container {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: #EDEDED;
}

.inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.img-wrapper {
    width: 100%;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.name {
    font-size: 25px;
    font-weight: bold;
    color: #454A34;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.position {
    font-size: 16px;
    color: #454A34;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.team-img {
    width: 100%;
    height: 100%;
}

.team-card-container {
    width: 210px;
    margin: 0 0 40px 0;
}
footer{
    text-align: center;
}
.footer{
    background-color: #454A34;
    color: #EDEDED;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
    align-content: center;
}

.maps{
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border: 2px solid #000000;
    width: fit-content;
}

.table{
    margin: 0 auto;
    border: 2px solid #000000;
    width: 95%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dropdown-schedule{
    cursor: pointer;
}
#drop-table{
    display: none;
    transition: 0.4s;
}

/* .footer-columns {
    position: relative;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    text-align: center;
}
  
.column {
    align-content: center;

}
  
.column h3 {
    font-size: 16px;
}
  
.column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.column ul li {
    margin-bottom: 5px;
}
.column ul li:hover {
    color: rgb(190, 109, 3);
    text-decoration: underline;
    cursor: pointer;
}
  
input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
} */

.footer-clean {
    padding:50px 0;
    background-color:#454A34;
    position: relative;
    top: 80px;
    padding: auto;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    color:#A7A44E;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    position: relative;
    display: inline-block;
  }
  
  .footer-clean ul a {
    color:#CDCEC8;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
    color: #fff;
  }
@media (max-width: 500px) {
    .outer-container {
        padding: 10px 20px 10px 20px;
    }

    .section-head-text {
        text-align: center;
    }
}