*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    
    background-size:cover;
    font-family: sans-serif;
    
  
}
.menubar{
    text-align: center;
    background-image: url(../photo/FloodedKabul.jpg);
    height: 543px;
    width: 100%;
    background-size: cover;

}
.menubar ul{
    display: inline-flex;
    list-style: none;
    color:#fff
}
.menubar li{
    width: 120px;
    margin:15px;
    padding:15px;


}
.menubar a{
    text-decoration: none;
    color:#fff

}

.menubarItems:hover{
color: rgb(190, 109, 3);
}
.popup{
    position:absolute;
    top: 80%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:650px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px;
}
