*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image:url(FloodedKabul.jpg);
    background-size:cover;
    font-family: sans-serif;
    
  
}
.menubar{
    background:#393939;
    text-align: center;
}
.menubar ul{
    display: inline-flex;
    list-style: none;
    color:#fff
}
.menubar li{
    width: 120px;
    margin:15px;
    padding:15px;


}
.menubar ul li a{
    text-decoration: none;
    color:#fff

}

.menubar ul li:hover{
background:#2b2323;
border: radius 3px;
}
.menubar .fa{
    margin-right: 8px;
}
.submenu1{
    display: none;

}
.menubar ul li:hover .submenu1{
    display:block;
    position:absolute;
    background: #393939;
    margin-top: 15px;
    margin-left: -15px;
}
.menubar li:hover .submenu1 ul{

    display: block;
    margin: 10px;
}
.menubar li:hover .submenu1 ul li{
    width: 150px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menubar li:hover .submenu1 ul li:last-child{
    border-bottom: none;
}

.menubar ul li:hover .submenu1 ul li a:hover{
    color: #b6b6b6;;
}
.logo{
    padding-right: 400px;
}